a {
  text-decoration: none !important;
  align-self: center;
  cursor: pointer;
  color: #000
}

a:hover {
  text-decoration: none;
  color: inherit;
}
textarea{
  display: block;
  resize: none;
  width: 100%;
}

/* Disable spin buttons of number feild */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
  padding: 5px
}


.index table {
  table-layout: fixed;
  text-overflow: ellipsis;
}

.index th,
.index td {
  padding: 3px 15px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  max-width: 40px !important;
}


.index th {
  position: sticky;
  top: 0;
  background-color: #007bff;
  color: #fff;
  border: solid 1px #fff;
}

.index td {
  border-inline: solid 1px #007bff;
}


.details td {
  padding-block: 10px;
  color: #007bff;
}

.index .main-container {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  height: 70vh;
}

.details .main-container {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  height: auto;
}

.bold-font {
  color: #000 !important;
  width: 25%;
  font-weight: bold;
}

.review-container {
  border-top: solid 1px #007bff;
}

.index .table-container {
  position: relative;
  overflow-y: auto;
  height: 80%;
}

/* View, Edit, Delete Buttons - List page */
.table-container td a {
  width: 30%;
  padding: 2px 5px;
  word-wrap: normal;
  font-size: 13px;
  display: inline-block;
  border-radius: 2px !important;
}

/* delete review  button icon */
.trash-icon {
  font-size: 12px;
}


/* input for review */
.review-input-div {
  position: relative;
}

/* submit button for review */
.review-submit-button {
  position: absolute;
  right: 0;
}


