a {
  text-decoration: none !important;
  align-self: center;
  cursor: pointer;
  color: #000
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* ===============INDEX PAGE=============== */
.index table {
  table-layout: fixed;
  text-overflow: ellipsis;
}

.index th,
.index td {
  padding: 3px 15px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  max-width: 40px !important;
}


.index th {
  position: sticky;
  top: 0;
  background-color: #007bff;
  color: #fff;
  border: solid 1px #fff;
}

.index td {
  border-inline: solid 1px #007bff;
}


.details td {
  padding-block: 10px;
  color: #007bff;
}

.index .main-container {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  height: 70vh;
}

.details .main-container {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  height: auto;
}

.bold-font {
  color: #000 !important;
  width: 25%;
}

.review-container {
  border-top: solid 1px #007bff;
}

.index .table-container {
  position: relative;
  overflow-y: auto;
  height: 80%;
}

/* View, Edit, Delete Buttons - List page */
.table-container td a {
  width: 30%;
  padding: 2px 5px;
  word-wrap: normal;
  font-size: 13px;
  display: inline-block;
  border-radius: 2px !important;
}

/* Disable spin buttons of number feild */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
  padding: 5px
}


/* delete review  button icon */
.trash-icon {
  font-size: 12px;
}


/* input for review */
.review-input-div {
  position: relative;
}

/* submit button for review */
.review-submit-button {
  position: absolute;
  right: 0;
}


/* media queries */
@media (max-width :1280px) {
  h1 {
    font-size: 32px;
  }

  table {
    font-size: 16px;
  }

  table a {
    font-size: 10px;
  }

  /* Reviews heading */
  h3,
  h4 {
    font-size: 15px
  }

  .details,
  .review-submit-button {
    width: auto;
    font-size: 16px;
  }

  .nav {
    font-size: 13px;
  }

  .modal,
  .modal button,
  .modal h4,
  .modal a {
    font-size: 16px;
    left: auto !important;
  }
}

@media (max-width :768px) {
  h1 {
    font-size: 30px;
  }

  table {
    font-size: 13px;
  }

  select {
    font-size: 13px;
  }

  table a {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .details,
  .review-submit-button {
    width: auto;
    font-size: 13px;
  }

  .nav {
    font-size: 12px;
  }

  /* Delete confirmation modal - list page */
  .modal {
    position: absolute;
  }

  .modal,
  .modal button,
  .modal h4,
  .modal a {
    font-size: 10px;
    left: auto !important;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 5px !important;
  }
}

@media (max-width :450px) {
  h1 {
    font-size: 18px;
  }

  form button,
  table,
  table a,
  input,
  label {
    font-size: 10px !important;
  }

  h3,
  h4 {
    font-size: 15px
  }

  .details,
  .review-submit-button {
    width: auto;
    font-size: 12px;
  }

  .nav {
    font-size: 10px;
  }
}

@media (max-width :370px) {
  h1 {
    font-size: 15px;
  }

  h3,
  h4 {
    font-size: 12px
  }

  input,
  label {
    font-size: 9px;
    width: 100%;
  }

  form button {
    font-size: 9px !important;
  }

  /* span - reviews- details page */
  span {
    width: 60%;
  }

  table {
    font-size: 8px;
  }

  td a {
    font-size: 8px;
  }

  .details,
  .review-submit-button {
    font-size: 12px;
  }

  .nav {
    font-size: 8px;
  }

  /* labels for the movie details */
  .details>p {
    width: 40%;
  }

}