body {
  width: 100%;
}

a {
  text-decoration: none !important;
  color: #fff;
  align-self: center;
}

a:hover {
  color: #fff;
}

label {
  font-size: 16px;
  font-weight: 600;
  align-self: flex-end;
  width: 20%;
  display: inline-block;
}

input,
select {
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
  padding: 5px
}

/* List page table*/
table {
  word-wrap: break-word;
  max-width: 100%;
}

th,
td {
  padding: 4px 2px !important;
  /* divide the width equally for all columns */
  width: calc(12.5%) !important;
}

/* View, Edit, Delete Buttons - List page */
td a {
  width: 30%;
  padding: 2px 5px;
  word-wrap: normal;
  font-size: 10px;
  display: inline-block;
  border-radius: 2px !important;
}

/* span - movie details - details page */
span {
  width: 75%;
  display: inline-block;
  vertical-align: text-top !important;
  margin-bottom: 15px;
}

.details {
  width: 80%;
  margin: 50px auto;
  vertical-align: text-top !important;
  word-wrap: break-word;
}

/* lables for the details */
.details p {
  align-self: self-start;
  display: inline-block !important;
  width: 25%;
}

/* delete review  button icon */
.trash-icon {
  font-size: 12px;
}

/* p - reviews- details page */
.review p {
  display: inline;
  width: 100%;
}

/* media queries */
@media (max-width :1280px) {
  h1 {
    font-size: 30px;
  }

  table {
    font-size: 16px;
  }

  table a {
    font-size: 10px;
  }

  .details {
    width: auto;
    font-size: 16px;
  }

  .modal,
  .modal button,
  .modal h4,
  .modal a {
    font-size: 16px;
    left: auto !important;
  }
}

@media (max-width :768px) {
  h1 {
    font-size: 28px;
  }

  table {
    font-size: 13px;
  }

  select {
    font-size: 13px;
  }

  table a {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
  }

  .details {
    width: auto;
    font-size: 13px;
  }

  /* Delete confirmation modal - list page */
  .modal {
    position: absolute;
  }

  .modal,
  .modal button,
  .modal h4,.modal a {
    font-size: 10px;
    left: auto !important;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 5px !important;
  }
}

@media (max-width :450px) {
  h1 {
    font-size: 18px;
  }

  input,
  label {
    font-size: 10px;
  }

  form button {
    font-size: 10px !important;
  }

  table {
    font-size: 10px;
  }

  .details {
    width: auto;
    font-size: 12px;
  }
}

@media (max-width :370px) {
  h1 {
    font-size: 15px;
  }

  h5 {
    font-size: 14px
  }

  input,
  label {
    font-size: 9px;
    width: 100%;
  }

  form button {
    font-size: 9px !important;
  }

  /* span - reviews- details page */
  span {
    width: 60%;
  }

  table {
    font-size: 8px;
  }

  td a {
    font-size: 8px;
  }

  .details {
    width: auto;
    font-size: 12px;
  }

  /* labels for the movie details */
  .details>p {
    width: 40%;
  }

}