<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Details</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="px-2">
        <header>
            <div class="row py-3 bg-primary">
                <a href="/">
                    <h1 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 my-0 text-white">Movie Details Management System
                    </h1>
                </a>
            </div>
        </header>
        <main>
            <div class="details container">
                <div class="details bg-secondary text-white p-3 rounded">
                    <p><b>Title: </b></p><span>Test Movie</span>
                    <p><b>Release Year: </b> </p><span>2000</span>
                    <p><b>Director: </b> </p><span>Test Director</span>
                    <p><b>Genre: </b> </p><span> Action</span>
                    <p><b>Language: </b> </p><span> English</span>
                    <p><b>Runtime: </b></p><span>90</span>
                    <p><b>Description: </b></p><span>Lorem ipsum, dolor adipisicing elit. Ex temporibus dolor</span>
                    <p><b>Number of Reviews:</b></p><span>5</span>
                </div>

                <div class="reviews">
                    <div>
                        <div class="add-review d-flex justify-content-between mb-5">
                            <h5>Reviews</h5>
                            <a href="/add-review"><button class="btn btn-success p-1">Add +</button></a>
                        </div>
                        <div>
                            <div class="review d-flex justify-content-between mb-3">
                                <div>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque eos in eaque
                                        fuga
                                        unde
                                        laboriosam itaque, quas odit enim quidem minus nisi sequi libero tempora?
                                        Corrupti
                                        nam
                                        iure
                                        id officia.
                                    </p>
                                </div>
                                <div>
                                    <a href="/delete-review"> <button class="btn btn-danger px-1 py-0 ml-2 "><i class=" trash-icon fa fa-trash"
                                                aria-hidden="true"></i></button></a>
                                </div>
                            </div>

                            <div class="review d-flex justify-content-between mb-3">
                                <div>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque eos in eaque
                                        fuga
                                        unde
                                        laboriosam itaque, quas odit enim quidem minus nisi sequi libero tempora?
                                        Corrupti
                                        nam
                                        iure
                                        id officia.
                                    </p>
                                </div>
                                <div>
                                    <a href="/delete-review"> <button class="btn btn-danger px-1 py-0 ml-2 "><i class="fa fa-trash trash-icon"
                                                aria-hidden="true"></i></button></a>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </main>





    </div>
</body>

</html>