<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>Movie Details Management System</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div>
    <header>
      <div class=" py-3 bg-primary">
        <a href="/">
          <h1 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 my-0 text-white">Movie Details Management System</h1>
        </a>
      </div>
    </header>

    <main>
      <div class="my-4 container">
        <div class="row">
          <form action="/submit" class="form">
            <div class="col-xl-12 justify-content-between">
              <h3 class="mb-5">Add a movie</h3>

              <label for="movieTitle">Title</label>
              <input type="text" id="movieTitle">

              <label for="movieDescription">Description</label>
              <input type="text" id="movieDescription" maxlength="20">

              <label for="director">Director</label>
              <input type="text" id="director">

              <label for="releaseYear">Release Year</label>
              <input type="text" id="releaseYear" maxlength="4">

              <label for="language">Language</label>
              <input type="text" id="language" maxlength="10">

              <label for="genres">Genre</label>
              <select name="genres" id="genres">
                <option value="" disabled selected>Choose an Option</option>
                <option value="Action">Action</option>
                <option value="Drama">Drama</option>
                <option value="Romance">Romance</option>
                <option value="Horror">Horror</option>
                <option value="Crime">Crime</option>
              </select>

              <label for="runtime">Runtime</label>
              <input type="text" id="runtime" maxlength="5">

              <div class="d-flex justify-content-end">
                <button class="btn btn-primary " type="submit">Submit</button></div>
            </div>

          </form>
        </div>
      </div>
    </main>
  </div>
</body>

</html>